{% extends "include/homepage.html" %} 
{% load static %} 
{% block content %}

<div class="page-wrapper home1">
  <div class="pointer" id="pointer"></div>

  {% include "include/header.html" %}
  <section class="page-banner">
    <div class="container">
      <div class="page-banner-content text-center">
        <h2 class="page-title">О нас</h2>
      </div>
    </div>
  </section>
  <!--page-banner-->
{% if deviz %}
    <section class="page-content">
        <div class="container-fluid">
            <div class="row images-row">
                <div class="col-lg-7">
                    <div class="row">
                        {% for deviz in deviz.deviiz.all%}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 image-column">
                            <div class="image">
                                <img src="{{deviz.image.url}}" alt="" />
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-5 title-column">
                    <div class="inner-column">
                        <h2><span>Наша</span> идеология и стремления, объединяющие наш коллектив</h2>
                        <p>{{deviz.title}}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section><!--page-content-->
{% endif %}
  <!--page-content-->
{% if team%}
  <section class="team-section-page">
    <div class="container">
      <div class="sec-title">
        <h2>Замечательная команда</h2>
        <p>
            Cердце нашего магазина. Это талантливые профессионалы, которые с любовью и мастерством подбирают каждую коллекцию. Они работают с неиссякаемым энтузиазмом, чтобы Вы всегда выглядели безупречно и чувствовали себя уверенно в любой ситуации.
        </p>
      </div>
      <!--sec-title-->
      <div class="row teams">
        {% for team in team %}
        <div class="col-lg-2 team-column">
          <div class="inner-column">
            <div class="team-img-v2">
              <img src="{{team.image.url}}" alt="" />
            </div>
            <div class="team-info-v2">
              <h3>{{team.title}}</h3>
              <span>{{team.work}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--team-section-->
{% endif %}

  <section class="marquee-section bt-0 pb-0">
    <div
      class="marquee"
      data-duration="17000"
      data-gap="10"
      data-duplicated="true"
    >
      <h2>Стиль и качество для вас в каждом штрихе</h2>
    </div>
    <div
      class="marquee2"
      data-duration="17000"
      data-gap="37"
      data-duplicated="true"
    >
      <h2>Стиль и качество для вас в каждом штрихе</h2>
    </div>
  </section>

  {% include "include/footer.html" %}
</div>
<!-- End Page Wrapper -->

<!-- Scroll To Top -->
{% endblock %}
