{% extends "include/homepage.html" %} {% load static %} {% block content %}
<div class="page-wrapper">
  <div class="pointer" id="pointer"></div>

  <!-- Preloader -->
  {% include "include/header.html" %}

  <!--overlay-menu-->

  <section class="page-banner">
    <div class="container">
      <div class="page-banner-content text-center">
        <h2 class="page-title">Наши контакты</h2>
      </div>
    </div>
  </section>
  <!--page-banner-->

  <section class="contact-page-section">
    <div class="container">
      <div class="about-content-v2">
        <h2>
            Мода и стиль в каждом шаге – обновите свой гардероб с нами.
        </h2>
        <p>
            Наша философия проста: мода — это выражение индивидуальности. Мы предлагаем одежду, которая добавит изысканности каждому вашему шагу и обновит ваш гардероб. Присоединяйтесь к нам в путешествии по миру стиля и качества.
        </p>
        <ul class="contact-links-info">
          <li>
            <div class="ct-icon">
              <img src="{% static 'images/ct1.png' %}" alt="" />
            </div>
            <p>{{settings.location}}</p>
          </li>
          <li>
            <div class="ct-icon">
              <img src="{% static 'images/ct2.png' %}" alt="" />
            </div>
            <a href="#" title="">{{settings.email}}</a>
          </li>
          <li>
            <div class="ct-icon">
              <img src="{% static 'images/ct3.png' %}" alt="" />
            </div>
            {% for settings in settings.phone_title.all%}
            <a href="#" title="">{{settings.phone}}</a>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="map-section-full">
    <div class="container">

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d126.43297363003785!2d72.79499080749814!3d40.5251539757735!2m2!1f54.943697383668734!2f45!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x38bdac1bd8948fa5%3A0x242313273258a9c2!2zMjQ0INCa0YPRgNC80LDQvdC20LDQvS3QlNCw0YLQutCwINGD0LsuLCDQntGIIDcyMzUwMA!5e1!3m2!1sru!2skg!4v1704708586040!5m2!1sru!2skg"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <section class="contact-form-section">
    <div class="container">
      <div class="sec-title space-v2">
        <h2>СВЯЗАТЬСЯ</h2>
        <p>
            Мы здесь, чтобы помочь вам найти идеальный образ. Наши стилисты готовы ответить на любые ваши вопросы и предложить персонализированные рекомендации. Напишите нам, и вместе мы создадим ваш уникальный стиль.
        </p>
      </div>
      <form class="contact_form" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Введите имя</label>
              <input type="text" name="name" placeholder="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Введите номер телефона</label>
              <input type="text" name="phone" placeholder="" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Введите почту</label>
              <input type="email" name="email" placeholder="" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Введите сообщение</label>
              <textarea name="message"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-submit">
              <button type="submit" name="contaact" class="theme-btn v2">
                send
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!--contact-form-section-->

  <section class="marquee-section bt-0 pb-0">
    <div
      class="marquee"
      data-duration="17000"
      data-gap="10"
      data-duplicated="true"
    >
      <h2>Стиль и качество для вас в каждом штрихе</h2>
    </div>
    <div
      class="marquee2"
      data-duration="17000"
      data-gap="37"
      data-duplicated="true"
    >
      <h2>Стиль и качество для вас в каждом штрихе</h2>
    </div>
  </section>

  {% include "include/footer.html" %}
</div>
<!-- End Page Wrapper -->

<!-- Scroll To Top -->
{% endblock %}
