{% extends "include/homepage.html" %}
{% load static %}
{% block content %}

    <div class="page-wrapper home1">
      <div class="pointer" id="pointer"></div>


      {% include "include/header.html" %}

      
      <!--overlay-menu-->

      

      <div class="shop-single-section popup-quick-view">
        <div class="shop-product-single">
          <a href="#" title="" class="close-popup">
            <img src="{% static 'images/close2.png' %}" alt="" />
          </a>
          <div class="shop-product-main-image">
            <span class="pr-bar">new</span>
            <div class="cart-product-large-slider">
              <div class="cart-product-large-image">
                <img src="{% static 'images/resource/jacket1.png' %}" alt="" />
              </div>
              <div class="cart-product-large-image">
                <img src="{% static 'images/resource/jacket2.png' %}" alt="" />
              </div>
              <div class="cart-product-large-image">
                <img src="{% static 'images/resource/jacket3.png' %}" alt="" />
              </div>
            </div>
          </div>
          <div class="shop-product-single-info">
            <h3>
              <a href="shop-single.html" title=""
                >Studiofit Light Grey Hooded Jacket</a
              >
            </h3>
            <div class="prod-ratings">
              <ul class="ratings">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>4.5</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus
              leo sit amet lorem egestas iaculis. Donec nibh enim, pharetra vel
              turpis non, vulputate luctus ex.
            </p>
            <div class="price">
              <span>$25.45</span>
              <del>$35.00</del>
            </div>
            <div class="size-colors">
              <div class="product-size">
                <span>Размер</span>
                <a href="#" title="">size guide</a>
                <ul class="size-list">
                  <li class="active">l</li>
                  <li>m</li>
                  <li>s</li>
                  <li>xl</li>
                  <li>xll</li>
                </ul>
              </div>
              <div class="product-colors">
                <span>color</span>
                <ul class="colors-list">
                  <li class="active">
                    <span class="clr1"></span>
                  </li>
                  <li>
                    <span class="clr2"></span>
                  </li>
                  <li>
                    <span class="clr3"></span>
                  </li>
                  <li>
                    <span class="clr4"></span>
                  </li>
                  <li>
                    <span class="clr5"></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cart-items-add">
              <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                  <i class="fa fa-plus"></i>
                </button>
                <input
                  type="text"
                  name="name"
                  value="1"
                  aria-autocomplete="list"
                />
                <button class="minus-btn" type="button" name="button">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <a href="shop-single.html" title="" class="theme-btn">buy now</a>
              <a href="#" title="" class="theme-btn">add to cart</a>
            </div>
            <div class="cart-product-thumb-slider">
              <div class="cart-product-thumb">
                <img src="{% static 'images/resource/jacket1.png' %}" alt="" />
              </div>
              <div class="cart-product-thumb">
                <img src="{% static 'images/resource/jacket2.png' %}" alt="" />
              </div>
              <div class="cart-product-thumb">
                <img src="{% static 'images/resource/jacket3.png' %}" alt="" />
              </div>
            </div>
            <div class="promo">
              <img src="{% static 'images/vt.png' %}" alt="" />
              50% off Studiofit Light Grey Hooded Jacket code FGLPW245
            </div>
          </div>
        </div>
        <!--shop-product-singele-->
      </div>
      <!--shop-single-section-->

      <section class="main-slider-v2">
        <div class="slider-nav">
            {% for slide in slide%}
            <div class="main-slider-slide">
                <img
                src="{{slide.image.url}}"
                alt=""
                class="animated"
                data-animation-in="zoomInImage"
                />
                <div class="main-slider-content">
                <span>{{slide.subtitle}}</span>
                <h1>{{slide.title}}</h1>
                <p>{{slide.descriptions}}</p>
                <a href="{% url 'shop' %}" title="" class="theme-btn">Магазин</a>
                </div>
            </div>
            {% endfor %}
          <!--main-slider-slide-->
        </div>
        <div class="slider-dots-box"></div>
      </section>
      <!--main-slider-->

      <section class="about-section-v2">
        <div class="container">
          <div class="about-content-v2">
            <h2>
              {{lookbook.title}}
            </h2>
            <p>
              {{lookbook.descriptions|safe}}
            </p>
            <a href="{% url 'about' %}" title="" class="theme-btn">Узнать больше</a>
          </div>
        </div>
      </section>

      <section class="lookbook-section-v2">
        <div class="container">
          <div class="lookbook-v2-slide">
            <div class="lookbook-v2 row">
                {% for lookbook in lookbook.look_book.all %}
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="lookbook-inner wow fadeIn" data-wow-delay="200ms">
                  <img src="{{lookbook.image.url}}" alt="" />
                </div>
              </div>
              {% endfor %}
            </div>
            <h1 class="pb-text wow slideInUp">Образцы</h1>
          </div>
        </div>
      </section>
      <!--lookbook-section-v2-->

      <section class="marquee-section v2 web-slides">
        <div
          class="marquee6"
          data-duration="17000"
          data-gap="10"
          data-duplicated="true"
        >
          <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
      </section>

      <section class="category-section-v2">
        <div class="container-full">
          <div class="sec-title space-v2 wow fadeInUp">
            <h2>{{category.title}}</h2>
            <p>
              {{category.descriptions|safe}}
            </p>
          </div>
          <div class="categories-v2">
            <div class="swiper-container swiper3">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="category-slide">
                    <div class="row">
                      {% for category in category.categorys.all%}
                      {% if category.number == "6" %}
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{{category.image.url}}" alt="" />
                          </div>
                          <h3>
                            <a href="{% url 'shop' %}" title="">{{category.title}}</a>
                          </h3>
                        </div>
                      </div>
                      {% else%}
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{{category.image.url}}" alt="" />
                          </div>
                          <h3>
                            <a href="{% url 'shop' %}" title="">{{category.title}}</a>
                          </h3>
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% comment %} <div class="swiper-slide">
                  <div class="category-slide">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery1.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Men Clothing</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery2.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Men's Grooming</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery3.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Innerwear & Loungewear</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery4.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Accessories</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery5.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Sunglasses</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="category-slide">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery1.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Men Clothing</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery2.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Men's Grooming</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery3.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Innerwear & Loungewear</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery4.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Accessories</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery5.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Sunglasses</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="category-slide">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery1.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Men Clothing</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery2.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Men's Grooming</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery3.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Innerwear & Loungewear</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery4.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Accessories</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery5.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Sunglasses</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="category-slide">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery1.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Men Clothing</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery2.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Men's Grooming</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery3.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Innerwear & Loungewear</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery4.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Accessories</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery5.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Sunglasses</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="category-slide">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery1.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Men Clothing</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery2.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Men's Grooming</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery3.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title=""
                              >Innerwear & Loungewear</a
                            >
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery4.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Accessories</a>
                          </h3>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="category-v2">
                          <div class="category-v2-img">
                            <img src="{% static 'images/resource/gallery5.jpg' %}" alt="" />
                          </div>
                          <h3>
                            <a href="shop-single.html" title="">Sunglasses</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>{% endcomment %}
              <!-- scrollbar -->
              <div class="swiper-scrollbar v3">
                <span class="swiper-scrollbar-drag"
                  ><span class="drag-inner">DISCOVER MORE</span></span
                >
              </div>
            </div>
          </div>
        </div>
      </section>

     
      <section class="marquee-section v2">
        <div
          class="marquee"
          data-duration="17000"
          data-gap="10"
          data-duplicated="true"
        >
          <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
      </section>

      <section class="collection-section v2">
        <div class="container-fluid">
          <div class="sec-title space-v2 wow slideInUp">
            <h2>НОВАЯ КОЛЛЕКЦИЯ</h2>
            <p>
              Откройте для себя последние тренды с нашей Новой Коллекцией. Каждый образ - это сочетание стиля и современности, созданное для того, чтобы вы выделялись. Наша кураторская подборка включает в себя все, от классических кроев до бескомпромиссных новинок сезона. 
            </p>
          </div>
          <div class="product-categories v2 without-slide row">
            {% for product in product %}
            <div class="col-lg-2">
              <div class="product-cat">
                <div class="product-img">
                  <img src="{{product.image.url}}" alt="" />
                  <span class="pro-category">{{product.category}}</span>
                </div>
                <div class="product-hover-info">
                  <div class="product-hover-head">
                    <ul class="pt-links">
                      <li>{{product.category_twoo}}</li>
                    </ul>
                    <a href="#" title="" class="fvrt-product"
                      ><img src="{% static 'images/icons/heart.svg' %}" alt=""
                    /></a>
                  </div>
                  <div class="product-info-hover">
                    <h3>
                      <a href="shop-single.html" title="">{{product.title}}</a>
                    </h3>
                    <span>{{product.brand}}</span>
                    <div class="pricee">
                      {% if product.price_sale %}
                      <span>{{product.price_sale}} сомов</span>
                      {% else %}
                      <span>{{product.price}} сомов</span>
                      {% endif %}
                    </div>
                    <ul class="pro-colors">
                      <li class="clr1"></li>
                      <li class="clr2"></li>
                      <li class="clr3"></li>
                      <li class="clr4"></li>
                    </ul>
                    <ul class="variations">
                      {% for product in product.product_size.all %}
                      <li>{{product.title.al}}</li>
                      {% endfor %}
                    </ul>
                    <ul class="pro-buttons">
                      <li>
                        <a href="{% url 'shop_detail' product.id %}" title="" class="theme-btn">Посмотреть</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--product-hover-info-->
                <div class="product-info">
                  <h3><a href="shop-single.html" title="">{{product.title}}</a></h3>

                  {% if product.price_sale %}
                  <span class="product-price"
                    >{{product.price_sale}} cомов</span
                  >
                  {% else %}
                  <span class="product-price">{{product.price}} cомов</span>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!--collection-section-->
      <section class="testimonial-section-v2">
        <div class="container-full">
          <div class="sec-title space-v2 wow fadeInUp">
            <h2>ОТЗЫВЫ КЛИЕНТОВ</h2>
            <p>
                Мы всегда стремимся превзойти ожидания наших клиентов, и их положительные отзывы являются свидетельством нашей твердой приверженности качеству. 
            </p>
          </div>
          <div class="row testi-v2-slider wow slideInUp">
            {% for reviews in reviews%}
            <div class="col-lg-4">
              <div class="testi2-slide">
                <p>
                  {{reviews.message}}
                </p>
                <div class="testi2-info">
                  <img src="{% static 'images/simba_review.webp' %}" alt="" />
                  <h4>{{reviews.title}}</h4>
                </div>
              </div>
              <!--testi2-slide-->
            </div>
            {% endfor %}
          </div>
          <div class='centeredBtn'> <a href="{% url "reviews" %}" class="theme-btn" style="margin: 2rem auto;">Оставить отзыв</a><div/>
         

        </div>
      </section>
      <!--testimonial-section-v2-->

        <section class="marquee-section v_5">
        <div class='marquee' data-duration='17000' data-gap='10' data-duplicated='true' >
            <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
        <div class='marquee2' data-duration='17000' data-gap='37' data-duplicated='true' >
            <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
    </section>

    <section class="full-banner">
        <img src="{{banner.image.url}}" alt="" />
    </section>

      <!--trending-section-v2-->

      <section class="brand-section v2">
        <div class="container">
          <div class="pt-logos">
            {% for banner in banner.banner_add.all%}
            <div class="pt-logo wow fadeIn">
              <img src="{{banner.image.url}}" alt="" />
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!--brand-section-->

      {% comment %} <section class="collection-new">
        <div class="container-fluid">
          <div class="title-clt wow slideInUp">
            <h2>
              The joy <img src="{% static 'images/resource/cl1.png' %}" alt="" /> of dressing
              <img src="{% static 'images/resource/cl2.png' %}" alt="" /> is an art
            </h2>
          </div>
          <div class="flex-container wow slideInUp">
            <div class="flex-slide accessories">
              <h2>accessories</h2>
              <div class="flex-content">
                <h3>Blazer</h3>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                <a href="shop-single.html" title="" class="theme-btn"
                  >shop now</a
                >
              </div>
            </div>
            <div class="flex-slide fashion">
              <h2>fashion</h2>
              <div class="flex-content">
                <h3>Blazer</h3>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                <a href="shop-single.html" title="" class="theme-btn"
                  >shop now</a
                >
              </div>
            </div>
            <div class="flex-slide sneekers">
              <h2>sneakers</h2>
              <div class="flex-content">
                <h3>Blazer</h3>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                <a href="shop-single.html" title="" class="theme-btn"
                  >shop now</a
                >
              </div>
            </div>
            <div class="flex-slide blazer">
              <h2>Blazer</h2>
              <div class="flex-content">
                <h3>Blazer</h3>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                <a href="shop-single.html" title="" class="theme-btn"
                  >shop now</a
                >
              </div>
            </div>
            <div class="flex-slide polo">
              <h2>Polo shirt</h2>
              <div class="flex-content">
                <h3>Blazer</h3>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                <a href="shop-single.html" title="" class="theme-btn"
                  >shop now</a
                >
              </div>
            </div>
            <div class="flex-slide bag">
              <h2>Hand bag</h2>
              <div class="flex-content">
                <h3>Blazer</h3>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                <a href="shop-single.html" title="" class="theme-btn"
                  >shop now</a
                >
              </div>
            </div>
          </div>
        </div>
      </section> {% endcomment %}
      <section class="marquee-section v2 web-slides">
        <div
          class="marquee6"
          data-duration="17000"
          data-gap="10"
          data-duplicated="true"
        >
          <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
      </section>
      {% if products_id %}
      <section class="cart-section-v2">
        <div class="container-fluid">
          <div class="card-product-content-v2">
            <div class="card-product-thumb-slider">
              <div class="cart-product-slider">
                <div class="circle-container">
                  <div class="circle delay1"></div>
                  <div class="circle delay2"></div>
                  <div class="circle delay3"></div>
                  <div class="circle delay4"></div>
                </div>
                <div class="cart-product-slider-slide">
                  {% for products in product.product_image_index.all %}
                  <div class="cart-product-slide">
                    <img src="{{products.image.url}}" alt="" />
                  </div>
                  {% endfor %}
                  
                </div>
              </div>
              <div class="cart-slider-thumb wow slideInLeft">
                {% for products in product.product_image_index.all %}
                <div class="cart-product-thumb-slide">
                  <img src="{{products.image.url}}" alt="" />
                </div>
                {% endfor %}
              </div>
            </div>
            <!--card-product-thumb-slider-->
            <div class="cart-product-info-v2">
              <div class="cart-product-content">
                <div class="cart-product-info wow slideInRight">
                  <h2>{{product.title}}</h2>
                  <p>
                    {{product.descriptions|safe}}
                  </p>
                  <div class="price">
                  {% if not product.price_sale %}
                    <span>{{product.price}} сомов</span>
                  {% else %}
                    <span>{{product.price_sale}} сомов</span>
                    <del>{{product.price}} сомов </span>
                  {% endif %}
                  </div>
                  <div class="cart-items-add">
                    <div class="quantity">
                      <button class="plus-btn" type="button" name="button">
                        <i class="fa fa-plus"></i>
                      </button>
                      <input type="text" name="name" value="1" />
                      <button class="minus-btn" type="button" name="button">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <a href="#" title="" class="size-popup-show theme-btn"
                      >Оставить заявку</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--card-product-content-v2-->
        </div>
      </section>
      <br>
      <br>
      <br>
      <br>
      <div class="size-popup">
        <a href="#" title="" class="close-popup">
            <img src="{% static 'images/close.png' %}" alt="" />
        </a>
        <style>
          .input-field input,
          .input-field select,
          .input-field textarea {
            width: 100%; /* Ширина поля */
            padding: 10px; /* Внутренние отступы */
            border: 1px solid #ccc; /* Граница */
            border-radius: 4px; /* Скругление углов */
            box-sizing: border-box; /* Box-sizing для корректного расчета ширины */
          }
        </style>
        <div class="lg-popup2">
            <div class="lg-content">
                <div class="lg-content-inner">
                    <h3>Оставьте заявку</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-field">
                            <label>Выберите цвет</label>
                            <select name="color" required>
                                {% for product in product.product_color_index.all%}

                                <option value="{{product.title.title}}">{{product.title.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Выберите размер</label>
                            <select name="size" required>
                                {% for product in product.product_size_index.all%}
                                <option value="{{product.title.al}}">{{product.title.al}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Введите ФИО</label>
                            <input type="text" name="username" placeholder="Эркинбаев Нурболот Ильязбекович" required />
                        </div>
                        <div class="input-field">
                            <label>Телефонный номер</label>
                            <input type="tel" name="phone" placeholder="+996 555 123456" required />
                        </div>
                        <div class="input-field">
                            <label>Электронная почта</label>
                            <input type="email" name="email" placeholder="example@mail.com" required />
                        </div>
                        <button type="submit" name="submit_application" class="theme-btn v2 w-100">Отправить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
      {% endif %}
      <!--cart-section-->

      <section class="latest-news-section">
        <div class="container-fluid">
          <div class="sec-title wow fadeInUp">
            <h2>ПОСЛЕДНИЕ НОВОСТИ</h2>
            <p>
                Последние новости: оставайтесь в курсе самых свежих трендов и событий в мире моды. Не пропустите наши эксклюзивные релизы и новые коллекции!
            </p>
          </div>
          <!--sec-title-->
          <div class="blog-posts">
            <!--post-->
            {% for blog in blog %}
            <div class="post wow fadeInLeft" data-wow-delay="200ms">
              <div class="post-thumb">
                <img src="{{blog.image.url}}" alt="" />
              </div>
              <div class="post-info">
                <h3>
                  <a href="{% url 'blog_detail' blog.id%}" title=""
                    >{{blog.title|truncatechars:50}}</a
                  >
                </h3>
                <ul class="meta">
                  <li>
                    <img src="{% static 'images/icons/icon5.svg' %}" alt="" />
                    <a href="{% url 'blog_detail' blog.id%}" title="">{{blog.created_at}}</a>
                  </li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
          <!--blog-posts-->
          <div class="full-button text-center wow slideInUp">
            <a href="{% url 'blog' %}" title="" class="theme-btn">Посмотреть все</a>
          </div>
        </div>
      </section>
      <!--latest-news-section-->

      {% include "include/footer.html" %}
    </div>
    <!-- End Page Wrapper -->

    <!-- Scroll To Top -->
{% endblock %}