{% load static %}
<footer>
    <div class="main-footer">
      <h1 class="section-bg-title">Glance</h1>
      <div class="container-fluid">
        <div class="footer-widgets">
          <div class="widget widget-links wow fadeInLeft">
            <h3 class="widget-title">CUSTOMER SERVICE</h3>
            <ul class="wd-links">
              <li><a href="#" title="">Contact Support</a></li>
              <li><a href="#" title="">Track My Order</a></li>
              <li><a href="#" title="">Returns</a></li>
              <li><a href="#" title="">Accessibility</a></li>
            </ul>
          </div>
          <!--widget-links-->
          <div
            class="widget widget-links wow fadeInLeft"
            data-wow-delay="200ms"
          >
            <h3 class="widget-title">WEBSITE</h3>
            <ul class="wd-links">
              <li><a href="#" title="">Terms of Service</a></li>
              <li><a href="#" title="">Shipping & Returns</a></li>
              <li><a href="#" title="">Privacy Policy</a></li>
              <li><a href="#" title="">Affiliates</a></li>
            </ul>
          </div>
          <!--widget-links-->
          <div
            class="widget widget-links wow fadeInLeft"
            data-wow-delay="400ms"
          >
            <h3 class="widget-title">Glance</h3>
            <ul class="wd-links">
              <li><a href="#" title="">Heritage</a></li>
              <li><a href="#" title="">Sustainability</a></li>
              <li><a href="#" title="">Instagram</a></li>
              <li><a href="#" title="">Contact Us</a></li>
            </ul>
          </div>
          <!--widget-links-->
          <div
            class="widget widget-newsletter wow fadeInLeft"
            data-wow-delay="600ms"
          >
            <h3 class="widget-title">НОВОСТНАЯ РАССЫЛКА</h3>
            <p>Подпишитесь и получите скидку 10% на первую покупку.</p>
            <form method = "POST">
              {% csrf_token %}
              <input
                type="email"
                name="email"
                placeholder="Ваша почта"
              />
              <button type="submit" name = "newslater" class="theme-btn">Подписаться</button>
            </form>
          </div>
          <!--widget-newsletter -->
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="copyright wow slideInUp">
          <p>© 2023 Glance IND - ALL RIGHTS RESERVED</p>
        </div>
      </div>
    </div>
  </footer>