{% load static %}
<footer>
    <div class="main-footer">
      <h1 class="section-bg-title">{{settings.titl}}</h1>
      <div class="container-fluid">
        <div class="footer-widgets">
          <div class="widget widget-links wow fadeInLeft">
            <h3 class="widget-title">Один клик</h3>
            <ul class="wd-links">
              <li><a href="{% url 'index' %}" title="">Главная страница</a></li>
              <li><a href="{% url 'shop' %}" title="">Магазин</a></li>
              <li><a href="{% url 'blog' %}" title="">Новости</a></li>
              <li><a href="{% url 'contact' %}" title="">Наши контакты</a></li>
              <li><a href="{% url 'about' %}" title="">О нас</a></li>
              <li><a href="{% url 'faqs' %}" title="">Часто задаваемые вопросы</a></li>

            </ul>
          </div>
          <!--widget-links-->
          <div
            class="widget widget-links wow fadeInLeft"
            data-wow-delay="200ms"
          >
            <h3 class="widget-title">Коллекции</h3>
            <ul class="wd-links">
              {% for collection in collection %}
              <li><a href="{% url 'shop' %}" title="">{{collection.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <!--widget-links-->
          <div
            class="widget widget-links wow fadeInLeft"
            data-wow-delay="400ms"
          >
            <h3 class="widget-title">социальные сети</h3>
            <ul class="wd-links">
            {% if settings.whatsapp %}
              <li><a href="{{settings.whatsapp}}" title="">Whatsapp</a></li>
            {% endif %}
            {% if settings.youtube %}
              <li><a href="{{settings.youtube}}" title="">Youtube</a></li>
            {% endif %}
            {% if settings.instagram %}
              <li><a href="{{settings.instagram}}" title="">Instagram</a></li>
            {% endif %}
            {% if settings.facebook %}
              <li><a href="{{settings.facebook}}" title="">Facebook</a></li>
            {% endif %}
            </ul>
          </div>
          <!--widget-links-->
          <div
            class="widget widget-newsletter wow fadeInLeft"
            data-wow-delay="600ms"
          >
            <h3 class="widget-title">НОВОСТНАЯ РАССЫЛКА</h3>
            <p>Подпишитесь и получите скидку 10% на первую покупку.</p>
            <form method = "POST">
              {% csrf_token %}
              <input
                type="email"
                name="email"
                placeholder="Ваша почта"
              />
              <button type="submit" name = "newslater" class="theme-btn">Подписаться</button>
            </form>
          </div>
          <!--widget-newsletter -->
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="copyright wow slideInUp">
          
          <li>© 2023<a href="https://www.instagram.com/codex_kg/" > CodexStudio</a>  -  ВСЕ ПРАВА ЗАЩИЩЕНЫ</li>

        </div>
      </div>
    </div>
  </footer>