{% extends "include/homepage.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    
    <div class="pointer" id="pointer"></div>

    {% include "include/header.html" %}

    <section class="page-banner">
        <div class="container">
            <div class="page-banner-content text-center">
                <h2 class="page-title" style = "font-size: 43px;">{{blog.title}} </h2>
            </div>
        </div>
    </section><!--page-banner-->

    <section class="blog-single">
        <div class="container">
            <div class="blog-post-single">
                <img class="main-single-image" src="{{blog.image_banner.url}}" alt="" />
                <div class="post-info">
                    <h3>{{blog.title}}</h3>
                    <ul class="meta">
                        <li>
                            <img src="{% static 'images/icons/icon5.svg' %}" alt="">
                            <a href="#" title="">{{blog.created_at}}</a>
                        </li>
                 
                    </ul>
                    <p>{{blog.descriptions|safe}} </p>
                </div>
            </div><!--blog-post-single-->
        </div>
    </section><!--blog-single-->

    <section class="marquee-section v2 single-v">
        <div class='marquee' data-duration='17000' data-gap='10' data-duplicated='true' >
            <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
    </section>

    <section class="collection-section related-posts bg-change">
        <div class="container-fluid">
            <div class="sec-title wow slideInUp">
                <h2>Похожие ПОСТы</h2>
                <p>Здесь вы найдёте подборку статей, которые соответствуют вашим интересам. Ознакомьтесь с трендами и советами по стилю, которые мы выбрали исходя из ваших предпочтений.</p>
            </div>
            <div class="swiper-container swiper2 blog-posts">
                <div class="swiper-wrapper">
                    {% for blog in blog_all%}
                    <div class="swiper-slide">
                        <div class="post">
                            <div class="post-thumb">
                                <img src="{{blog.image.url}}" alt="" />
                            </div>
                            <div class="post-info">
                                <h3><a href="blog-single.html" title="">{{blog.title|truncatechars:50}}</a></h3>
                                <ul class="meta">
                                    <li>
                                        <img src="{% static 'images/icons/icon5.svg' %}" alt="" />
                                        <a href="#" title="">{{blog.created_at}}</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div><!--post-->
                    </div>
                    {% endfor %}
                </div>
                <!-- scrollbar -->
                <div class="swiper-scrollbar v2">
                    <span class="swiper-scrollbar-drag"><span class="drag-inner">ОТКРОЙ ДЛЯ СЕБЯ БОЛЬШЕ</span></span>
                </div>
            </div>
        </div>
    </section><!--collection-section-->


    <section class="empty-space"></section>
    
    <section class="marquee-section bt-0 pb-0">
        <div class='marquee' data-duration='17000' data-gap='10' data-duplicated='true' >
            <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
        <div class='marquee2' data-duration='17000' data-gap='37' data-duplicated='true' >
            <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
    </section>

   

    {% include "include/footer.html" %}

    

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
{% endblock %}
