{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper home1">
      <div class="pointer" id="pointer"></div>


      {% include "include/header.html" %}

      <section class="page-banner">
        <div class="container">
          <div class="page-banner-content text-center">
            <h2 class="page-title">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
          </div>
        </div>
      </section>
      <!--page-banner-->

      <section class="faqs-section-page">
        <div class="container">
          <div class="sec-title mw-100">
            <h2>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
            <p>
                Найдите ответы на самые распространённые вопросы о нашем магазине, продукции и услугах. Узнайте больше о размерах, доставке и возврате, чтобы ваш опыт покупок был максимально удобным и приятным.
            </p>
          </div>
          <!--sec-title-->
          <div class="accordion" id="accordionExample">
            {% for faqs in faqs %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{ faqs.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faqs.id }}" aria-expanded="false" aria-controls="collapse{{ faqs.id }}">
                    {{ faqs.title }}
                </button>
              </h2>
              <div id="collapse{{ faqs.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ faqs.id }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>{{ faqs.message|safe }} </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          
        </div>
      </section>
      <!--faqs-section-->

      <section class="marquee-section bt-0 pb-0">
        <div
          class="marquee"
          data-duration="17000"
          data-gap="10"
          data-duplicated="true"
        >
          <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
        <div
          class="marquee2"
          data-duration="17000"
          data-gap="37"
          data-duplicated="true"
        >
          <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
      </section>

      {% include "include/footer.html" %}

        
    </div>
    <!-- End Page Wrapper -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var accordion = document.querySelectorAll('.accordion-button');
            
            accordion.forEach(function (btn) {
              btn.addEventListener('click', function () {
                // Закрытие уже открытых элементов аккордеона
                var alreadyActive = document.querySelector('.accordion-button:not(.collapsed)');
                if (alreadyActive && alreadyActive !== btn) {
                  alreadyActive.classList.add('collapsed');
                  var collapseId = alreadyActive.getAttribute('data-bs-target');
                  var collapseElement = document.querySelector(collapseId);
                  collapseElement.classList.remove('show');
                }
          
                // Переключение текущего элемента
                var selectId = this.getAttribute('data-bs-target');
                var selectElement = document.querySelector(selectId);
                if (selectElement.classList.contains('show')) {
                  this.classList.add('collapsed');
                  selectElement.classList.remove('show');
                } else {
                  this.classList.remove('collapsed');
                  selectElement.classList.add('show');
                }
              });
            });
          });
          
    </script>
    <!-- Scroll To Top -->
{% endblock %}