{% extends "include/homepage.html" %} 
{% load static %} 
{% block content %}

<div class="page-wrapper">
    
    <div class="pointer" id="pointer"></div>

    <!-- Preloader -->
    {% include "include/header.html" %}


    <section class="page-banner">
        <div class="container">
            <div class="page-banner-content text-center">
                <h2 class="page-title">{{product.title}}</h2>
            </div>
        </div>
    </section><!--page-banner-->

    <section class="shop-single-section">
        <div class="container-fluid">
            <div class="shop-product-single">
                <div class="shop-product-main-image">
                    <div class="cart-product-large-slider">
                        {% for products in products.product_image.all %}
                        <div class="cart-product-large-image">
                            <img src="{{products.image.url}}" alt="" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="shop-product-single-info">
                    <h3><a href="shop-single.html" title="">{{products.title}}</a></h3>
                    <p>{{products.descriptions|safe }}</p>
                    <div class="price">
                            {% if not products.price_sale %}
                                <span>{{products.price}} сомов</span>
                            {% else %}
                                <span>{{products.price_sale}} сомов</span>
                                <del>{{products.price}} сомов </span>
                            {% endif %}
                    </div>
                    <div class="size-colors">
                        <div class="product-size">
                            <span>Size</span>
                            <ul class="size-list">
                                <li class="active">l</li>
                                <li>m</li>
                                <li>s</li>
                                <li>xl</li>
                                <li>xll</li>
                            </ul>
                        </div>
                        <div class="product-colors">
                            <span>color</span>
                            <ul class="colors-list">
                                <li class="active">
                                    <span class="clr1"></span>
                                </li>
                                <li>
                                    <span class="clr2"></span>
                                </li>
                                <li>
                                    <span class="clr3"></span>
                                </li>
                                <li>
                                    <span class="clr4"></span>
                                </li>
                                <li>
                                    <span class="clr5"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart-items-add">
                        <a href="#" title=""  class="size-popup-show theme-btn">Оставить заявку</a>
                    </div>
                    <div class="cart-product-thumb-slider">
                        {% for products in products.product_image.all %}
                        <div class="cart-product-thumb">
                            <img src="{{products.image.url}}" alt="" />
                        </div>
                        {% endfor %}
                    </div>
                  
                </div>
            </div><!--shop-product-singele-->
        </div>
    </section><!--shop-single-section-->

    <div class="size-popup">
        <a href="#" title="" class="close-popup">
            <img src="{% static 'images/close.png' %}" alt="" />
        </a>
        <div class="lg-popup2">
            <div class="lg-content">
                <div class="lg-content-inner">
                    <h3>Оставьте заявку </h3>
                    <form method = "POST">
                        {% csrf_token %}
                        <div class="input-field">
                            <label>Введите ФИО</label>
                            <input type="text" name="title" placeholder="Эркинбаев Нурболот Ильязбекович" />
                        </div>
                        <div class="input-field">
                            <label>Введите ФИО</label>
                            <input type="text" name="title" placeholder="Эркинбаев Нурболот Ильязбекович" />
                        </div>
                        <div class="input-field">
                            <label>Введите ФИО</label>
                            <input type="text" name="title" placeholder="Эркинбаев Нурболот Ильязбекович" />
                        </div>
                        <div class="input-field">
                            <label>Введите отзыв</label>
                            <input type="message" name="message" placeholder="Ооочень круто" />
                        </div>
                        
                        <button type="submit"  name = "reviews" class="theme-btn v2 w-100">Отправить отзыв</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
    <section class="prod-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="prod-col">
                        <img src="{% static 'images/resource/shop1.jpg' %}" alt="">
                        <div class="prod-caption">
                            <h3><a href="#" title="">girls hat</a></h3>
                            <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                            <a href="shop-single.html" title="" class="theme-btn">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="prod-col">
                        <img src="{% static 'images/resource/shop2.jpg' %}" alt="">
                        <div class="prod-caption">
                            <h3><a href="#" title="">winter collection</a></h3>
                            <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                            <a href="shop-single.html" title="" class="theme-btn">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="prod-col">
                        <img src="{% static 'images/resource/shop3.jpg' %}" alt="">
                        <div class="prod-caption">
                            <h3><a href="#" title="">summer girl dress</a></h3>
                            <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                            <a href="shop-single.html" title="" class="theme-btn">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="marquee-section abt border-top-0">
        <div class='marquee' data-duration='17000' data-gap='10' data-duplicated='true' >
            <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
        <div class='marquee2' data-duration='17000' data-gap='37' data-duplicated='true' >
            <h2>Стиль и качество для вас в каждом штрихе</h2>
        </div>
    </section>

    {% include "include/footer.html" %}

    

</div><!-- End Page Wrapper -->

{% endblock %}
